<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Horse Manager</title>
		{{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/barn.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@500&family=Spectral+SC:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

</head>	
 
	<body>

		{{{ body }}}

		
	</body>
</html>