<div id="mainTitle">
<h1>Horse Manager</h1>

</div>
<form id= "mainForm" class="box">
  <h2>Horse Owners</h2>
  <div class="owner-dropdown">
  <button class="dropbtn">Find a Owner</button>
  <div id="myDropdown" class="dropdown-content">
    {{#each owners}}
        <a class="select-owner" data-id="{{ this.id }}">
          {{ this.firstName}} {{ this.lastName }}
        </a>
    {{/each}}
  </div>
</div>


  <div class="field">
    <label id="addTitle" class="label">Add a owner</label>
    <label class="label">First Name</label>
    <div class="control">
      <input id="owner-first" class="input" type="name" placeholder="">
    </div>
  </div>
  <div class="field">
    <label class="label">last name</label>
    <div class="control">
      <input id="owner-last"class="input" type="name" placeholder="last name">
    </div>
  </div>

  <button class="button is-primary">Add owner</button>
</form>
