<div id="mainTitle">
<h1>Horse Manager</h1>
</div>
<div id= "mainForm" class="box">
  <h2>Horse Owners</h2>
  <div class="owner-dropdown">
    <button class="dropbtn">Owners</button>
      <div id="myDropdown" class="dropdown-content">
        {{#each owners}}
            <a class="select-owner" data-id="{{ this.id }}">
             {{ this.firstName}} {{ this.lastName }}
            </a>
        {{/each}}
      </div>
  </div>
 
  <form class="create-form">
    <div class="form-group">
      <div class="field">
        <label id="addTitle" class="label">Add a owner</label>
        <label class="label" for="owner-first">First Name</label>
        <div class="control">
          <input id="owner-first" class="input" type="text" placeholder="first name" name="firstName">
        </div>
      </div>
      <div class="field">
        <label class="label" for="owner-last">last name</label>
        <div class="control">
          <input id="owner-last"class="input" type="text" placeholder="last name" name="lastName">
        </div>
      </div>
    </div>
    <button class="button is-primary add" type="submit">Add owner</button>
  </form>
</div>
