<BR>
<div class="toptitle">
  <center>
    <span>H</span>
    <span>O</span>
    <span>R</span>
    <span>S</span>
    <span>E</span>
    <span></span>
    <span>M</span>
    <span>A</span>
    <span>N</span>
    <span>A</span>
    <span>G</span>
    <span>E</span>
    <span>R</span>
</div>

</center>

 


<center>
<div class="row">
<p class="divided">
  <span class="divider"></span>
</p>
<div id="mainTable-Index" class="box">
  <BR>
      <button id="addbut" class="button is-primary modal-button new-owner-but" data-target="#modal">Add New Owner</button>

{{!-- <BR><BR> --}}
      <div class="owner-dropdown dropdown">
        <button class="dropbtn"> Browse Current Owners</button>
        <div id="myDropdown" class="dropdown-content">
          {{#each owners}}
          <a class="select-owner" data-id="{{ this.id }}">
            {{ this.firstName}} {{ this.lastName }}
          </a>
          {{/each}}
        </div>
      </div>
      
      <a href="/api/logout"><button id="logoutbut-index">Log Out</button></a>
</div>
      <div id="new-owner-modal" class="modal">
      
        <div class="modal-card">
          <form class="create-form"> 
            <header class="modal-card-head">
              <p class="modal-card-title"><k>New Owner Information</k></p>
              <button class="delete close-modal" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <div class="content-two">
              
                <div class="field">
                  
                  <div class="control">
                    <input id="ownerFirst" class="addowner-input" type="text" placeholder="First Name" name="first-name">
                  </div>
                </div>

                <div class="field">
                
                  <div class="control">
                    <input id="ownerLast" class="addowner-input" type="text" placeholder="Last Name" name="last-name">
                  </div>
                </div>

                <div class="field">
                  
                  <div class="control">
                    <input id="ownerEmail" class="addowner-input" type="text" placeholder="Email" name="email">
                  </div>
                </div>

                <div class="field">
                  
                  <div class="control">
                    <input id="ownerPass" class="addowner-input" type="text" placeholder="Temporary Password" name="password">
                  </div>
                </div>
                </div>
            </section>
             <footer class="modal-card-foot">
            <button id="modBut" class="button is-success add-horse" type="submit" >Save</button>
            <button id="modBut" class="button close-modal">Cancel</button>
        </footer>
          </form>  
      </div>
  </div>
       

    
