<BR>
<div class="toptitle">
   <center>
	<span>H</span>
	<span>O</span>
	<span>R</span>
	<span>S</span>
	<span>E</span>
	<span></span>
	<span>M</span>
  	<span>A</span>
	<span>N</span>
	<span>A</span>
  <span>G</span>
	<span>E</span>
  	<span>R</span>
</div>
</center

<div class="row">
<div id="mainForm"class= "box">
  <center>
  <h2>Browse Current Owners</h2>
  <div class="owner-dropdown">
    <button class="dropbtn"> current owners</button>
      <div id="myDropdown" class="dropdown-content">
        {{#each owners}}
            <a class="select-owner" data-id="{{ this.id }}">
             {{ this.firstName}} {{ this.lastName }}
            </a>
        {{/each}}
      </div>
  </div><center><BR>
  <h2>Add New Owner </h2> 
        {{!-- <label id="addTitle" class="label">Add an owner</label> --}}
          <input id="owner-first" class="input" type="text" placeholder="first name" name="firstName">
          <input id="owner-last"class="input" type="text" placeholder="last name" name="lastName">
    <button id="addbut" class="button is-primary add" type="submit">Add owner</button>
  </form>
</center>