<BR>
<div class="toptitle">
  <center>
    <span>H</span>
    <span>O</span>
    <span>R</span>
    <span>S</span>
    <span>E</span>
    <span></span>
    <span>M</span>
    <span>A</span>
    <span>N</span>
    <span>A</span>
    <span>G</span>
    <span>E</span>
    <span>R</span>
</div>

</center>
<a href="/api/logout"><button id="logoutbut">Log Out</button></a>
<center>
<div class="row">
<p class="divided">
  
  <span class="divider"></span>
  
</p>
<div id="mainForm" class="box">
  <BR>
      <button id="addbut" class="button is-primary modal-button new-owner-but" data-target="#modal">Add New Owner</button>

<BR><BR>
      <div class="owner-dropdown dropdown">
        <button class="dropbtn"> Browse Current Owners</button>
        <div id="myDropdown" class="dropdown-content">
          {{#each owners}}
          <a class="select-owner" data-id="{{ this.id }}">
            {{ this.firstName}} {{ this.lastName }}
          </a>
          {{/each}}
        </div>
      </div>
</div>
      <div id="new-owner-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
          <form class="signup"> 
            <header class="modal-card-head">
              <p class="modal-card-title"><k>Owner Information</k></p>
              <button class="delete close-modal" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
              <div class="content-two">
              
                <div class="field">
                  
                  <div class="control">
                    <input id="first-name" class="addowner-input" type="text" placeholder="First Name" name="first-name">
                  </div>
                </div>

                <div class="field">
                
                  <div class="control">
                    <input id="last-name" class="addowner-input" type="text" placeholder="Last Name" name="last-name">
                  </div>
                </div>

                <div class="field">
                  
                  <div class="control">
                    <input id="email-input" class="addowner-input" type="text" placeholder="Email" name="email">
                  </div>
                </div>

                <div class="field">
                  
                  <div class="control">
                    <input id="password-input" class="addowner-input" type="text" placeholder="Temporary Password" name="password">
                  </div>
                </div>
                
            </section>
            <footer class="modal-card-foot">
                <button id="add-owner-save" class="button is-success edit-horse-note" type="submit">Save</button>
                <button id="add-owner-cancel" class="button close-modal">Cancel</button>
                <BR>
            </footer>
          </form>  
      </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/js/signup.js"></script>
           

   
 