#mainForm{
    width: 50%;
    background-color:lightgray;
    /* opacity: 0.5; */
    background: rgba(208, 200, 204, 0.5);
    margin-top: 20px;
    /* margin-left: 25%; */
    height:200px;
}

.container-signup,.container-login
{
    width: 40%;
    background-color:lightgray;
    /* opacity: 0.5; */
    background: rgba(208, 200, 204, 0.5);
    

    height:300px;
}



h2{
    font-size: 30px;
    margin-left: 20px;
    /* padding-bottom:20px ; */
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.field,.table{
    padding-left: 20px;
    /* background-color:lightgray; */
    margin-top: 0px;
    background: rgba(208, 200, 204, 0.5);
}

.form-group {
    color:black;
}
.delete-owner{
        background-color: gray; color: black;
        border-radius: 8px;

}

body{
        background-image: url("horsecopy.jpg"); /* The image used */
        background-color: white; /* Used if the image is unavailable */
        height: 120vh; /* You must set a specified height */
     color: black;
        background-position: left-bottom; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
       

   

}


ul, li {list-style-type: none;}

th, td {
    padding: 5px;
    text-align: center;
}


 /* ON HOVER COLOR FOR ALL BUTTONS */
  .dropbtn:hover,#addbut:hover, #new-horse-but:hover, .dropbtn:focus, 
  #signupbtn:hover,#userlogin:hover,#edithorse:hover,#settoday:hover,#modBut:hover, #btnClose:hover {
    background-color:#669966;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    color:black;
    background-color:gray;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  #addTitle{
      font-size: 25px;
      font-weight: bold;
      color: black;
      font-family: 'Quicksand', sans-serif;
      
  }
  /* a.modal-button{
    margin-top: -60px;
    float: left; 
    background-color:black;
    border-radius: 8px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
width: 300px;
height:50px;
  } */

#owner-first,
#owner-last{
    font-family: 'Quicksand', sans-serif;
   width: 30%;
}

.dropbtn{
    margin-top:px;
    background-color:black;
    border-radius: 8px;
    color: white;
  padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
width: 300px;
height:50px};

#new-horse-but{
    
    margin-top: -20px;
    background-color:black;
    border-radius: 8px;
    color: white;
    /* padding: 16px; */
    font-size: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
width: 120px;
height:30px;
  }

#owner-first,
#owner-last,.form-control{
    font-family: 'Quicksand', sans-serif;
   width: 60%;
   height:30px;
   color:black;
}



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.toptitle{
   
	font-family: 'Quicksand', sans-serif;
	font-size: 55px;
	background: white;
}
span{
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	animation: span 3s ease-in infinite alternate;
}
.main{
	display: flex;
	justify-content: center;
    align-items: flex-start;
    font-family: 'Quicksand', sans-serif;
	font-size: 42px;
}
.letter{
    font-family: 'Quicksand', sans-serif;
	font-size: 42px;
	display: inline-flex;
	height: 30px;
	width: 27px;
	/* border: 2.5px solid #FF1EAD; */
	border: 2.35px solid black;
	border-radius: 14px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45);

	animation: letter 3s ease-in-out infinite alternate;
}
@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
 @keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; } 
}  



#addbut{
    
    background-color:black;
    border-radius: 8px;
    color: white;
    padding: 16px;
    font-size: 100%;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
width: 300px;
height:50px};


.table-container{
    background: rgba(255, 255, 255, 1) !important;
    /* opacity: .7; */
    color:black;
    font-weight: bolder;
    border: 2px, thin, black;
}

#modBut{
    background-color:black;
    border-radius: 8px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    width: 300px;
    height:50px;
}
#edithorse, #settoday{
    background-color:black;
    border-radius: 8px;
    color: white;
    /* padding: 16px; */
    font-size: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    width: 100px;
    height:20px;
}

label{
    font-family: 'Quicksand', sans-serif;
}
#signupbtn,#userlogin{
    background-color:black;
    border-radius: 8px;
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    width: 300px;
    height:30px;

}
#password-input
{
    margin-bottom:2%;
}