/* background image styling */
body{
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-image: url("horsecopy.jpg");
    background-color: white; 
    height: 500px; 
    color: black;
    background-position: right bottom;
    background-repeat: no-repeat;
}

/* main table on the index page */  
#mainTable-Index{
    width: 80%;
    background-color:lightgray;
    background: rgba(208, 200, 204, 0.5);
    height:150px;
    margin-top:25px; 
}
/* main table on the owners page */
.table{
    width:500px;
    background: rgba(208, 200, 204, 0.5);
} 
/* main tables for login and signup pages */
.container-signup{ 
    width: 40%;
    background-color:lightgray;
    background: rgba(208, 200, 204, 0.5);
    height:300px;
}
.container-login
{   width: 40%;
    background-color:lightgray;
    background: rgba(208, 200, 204, 0.5);
    height:200px;
}

/* styling for all buttons*/
#logoutbut,#managerbut{
    background-color:black;
    border-radius: 8px;
    color: white; 
    font-size: 12px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    width:150px;
    height:30px; 
}
#new-horse-but{
    background-color:black;
    border-radius: 8px;
    color: white;   
    font-size: 12px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    width: 150px;
    height:30px;
  }
  .dropbtn{
    background-color:black;
    border-radius: 8px;
    color:white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    width: 300px;
    height:50px
}
#addbut, #cancelbut{
    background-color:black;
    border-radius: 8px;
    color: white;
    padding: 16px;
    font-size: 100%;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    width: 300px;
    height:50px
    }
#modBut{
    background-color:black;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    width: 300px;
    height:50px;
    }
#edithorse, #settoday{
    background-color:black;
    border-radius: 8px;
    color: white;
    font-size: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    width: 100px;
    height:20px;
    }
#signupbut,#userloginbut{
    background-color:black;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    width: 300px;
    height:30px;
    }
#logoutbut-index{
    background-color:black;
    border-radius: 8px;
    color: white;
    font-size: 100%;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    width: 300px;
    height:50px
    }
#edit-note-but{
    background-color:white;
    border-radius: 0px;
    color: black;
    font-size: 10px;
    border: solid black 1px;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    width: 100px;
    height:30px;
}
.delete-owner{
    background-color: gray; color: black;
    border-radius: 8px;
}
 /* on hover styling for all buttons */
 .dropbtn:hover,#addbut:hover,#logoutbut:hover, #new-horse-but:hover, #edit-note-but:hover, .dropbtn:focus, 
 #signupbtn:hover,#userlogin:hover,#edithorse:hover,#settoday:hover,#modBut:hover, #btnClose:hover,#manager-but:hover,#logoutbut-index:hover{
   background-color:	#556B2F;
 }

/* styling for all input boxes */
.placeholder{
    font-size:16px;
    font-family: 'Quicksand', sans-serif;
    color:black;
}
.note-input{
    height:300px;
    width:450px;
    margin-bottom:20px;
    margin-left:10px;
    font-size:16px;
    font-family: 'Quicksand', sans-serif;
}
.owner-input{
    align-items: center;
    height:50px;
    width:450px;
    margin-bottom:20px;
    margin-left:10px;
    font-size:16px;
    font-family: 'Quicksand', sans-serif;
}
.edit-input{
    height:40px;
    width:450px;
    margin-bottom:20px;
    margin-left:10px;
    font-size:16px; 
    font-family: 'Quicksand', sans-serif;
}
.addowner-input{
    height:40px;
    width:450px;
    font-size:16px;
    font-family: 'Quicksand', sans-serif;
}
.newowner-input{
    height:20px;
    width:300px;
    margin-bottom:20px;
    margin-left:10px;
    font-size:16px;
    font-family: 'Quicksand', sans-serif;
}
.input-newowner{
    width:400px;
    height:40px;
    font-family: 'Quicksand', sans-serif;
}
#password-input{
     margin-bottom:2%;
}
.form-control{
    background-color:white;
    height:30px;
    width:300px;
    font-family: 'Quicksand', sans-serif;
} 

/* styling for modals */
.modal-card-head,.modal-card-foot{
    height:60px;
    width:500px; 
    max-width:100%;
    text-align: center;
    background-color:gray;
    font-family: 'Quicksand', sans-serif;
}
.modal-card-body{
    height:400px;
    width:500px;
    max-width:100%;
    background-color: gray;
    font-family: 'Quicksand', sans-serif;
}
#new-owner-modal{
    height: 80vh;
    max-height: 100%; 
    max-width:100%;
}

/* styling for all header tags */
h1{
 font-size: 45px;
 font-family: 'Quicksand', sans-serif;
}

h2{
    font-size: 30px;
    margin-left: 20px;
    /* padding-bottom:20px ; */
    color: black;
    font-family: 'Quicksand', sans-serif;
}
h3{
    font-size: 20px;
    color: black;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
}

k{
    font-size: 40px;
    text-align: center;
    color: black;
    font-family: 'Quicksand', sans-serif;
}
th, td {
    padding: 5px;
    text-align: center;
}
#owner-first, #owner-last{
   font-family: 'Quicksand', sans-serif;
   width: 60%;
   height:30px;
   color:black;
}
a{
    color:#556B2F;
}

 /* dropdown menu styling content */
.dropdown-content {
    display: none;
    position: absolute;
    color:black;
    background-color:white;
    border: solid 2px black;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size:18px;
    z-index: 1;
    font-family: 'Quicksand', sans-serif;
    height:200px;
    overflow: scroll;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content a {
    font-family: 'Quicksand', sans-serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
      background-color: #ddd
    }
  .show {display:block;}

  #addTitle{
      font-size: 25px;
      font-weight: bold;
      color: black;
      font-family: 'Quicksand', sans-serif;
  }


  
/* styling for the animated header */
*{ 
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.toptitle{
	font-family: 'Quicksand', sans-serif;
	font-size: 55px;
	background: white;
}
span{
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	animation: span 3s ease-in infinite alternate;
}
.main{
	display: flex;
	justify-content: center;
    align-items: flex-start;
    font-family: 'Quicksand', sans-serif;
	font-size: 42px;
}
.letter{
    font-family: 'Quicksand', sans-serif;
	font-size: 42px;
	display: inline-flex;
	height: 30px;
	width: 27px;
	border: 2.35px solid black;
	border-radius: 14px;
	box-shadow:
	0 0 2px rgba(0, 0, 0, .75),
	inset 0 0 2px rgba(0, 0, 0, .45);
	animation: letter 3s ease-in-out infinite alternate;
}
@keyframes span {
	0%,30%{ margin:0n .5%; }
	70%,100%{margin: 0 .5%;}
}
 @keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; } 
}  

/* removes bullet points from lists */
ul, li {list-style-type: none;}

/* sytling for thin line design under headers */
.divided {
    display: flex;
    align-items: center;
}
  .divider {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 0%
}

/* checksmarks on set today buttons */
spantwo{
  content: "\2713";
}




/* CSS CODE THAT SEEMS TO NOT BE NEEDED AND OKAY TO DELETE  */

/* .table-container{
    background: rgba(255, 255, 255, 1) !important;
    opacity: .7;
     color:black;
    font-weight: bolder;
    border: 2px, thin, black;
} */

/* label{
    font-size:16px;
    font-family: 'Quicksand', sans-serif;
    color:black;
} */

/* .form-control */

/* 

.form-group {
    color:black;
}







