#mainForm{
    width: 80%;
    background-color:lightgray;
    opacity: 0.5;
    margin-top: 20px;
    margin-left: 10%;
    height:300px;
    
}
h2{
    font-size: 30px;
    margin-left: 20px;
    padding-bottom:20px ;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

#ownerContainer{
    padding-left: 20px;
    margin-top: 0px;
}

.form-group {
    color:black;
}
.delete-owner{
        background-color: gray; color: black;
        border-radius: 8px;

}

body{
        background-image: url("horsecopy.jpg"); /* The image used */
        background-color: white; /* Used if the image is unavailable */
        height: 120vh; /* You must set a specified height */
     
        background-position: left-bottom; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
       

   

}


ul, li {list-style-type: none;}

th, td {
    padding: 5px;
    text-align: center;
}


  /* Dropdown button on hover & focus */
  .dropbtn:hover,#addbut:hover, .dropbtn:focus {
    background-color:#008B8B;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#008B8B;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  #addTitle{
      font-size: 25px;
      font-weight: bold;
      color: black;
      font-family: 'Quicksand', sans-serif;}

  a.modal-button{
    background-color: indigo;
     float: right;
     margin-top: -60px;
  }

#owner-first,
#owner-last{
    font-family: 'Quicksand', sans-serif;
   width: 30%;
}

.dropbtn{
    background-color: gray;
    border-radius: 8px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.toptitle{
   
	font-family: 'Quicksand', sans-serif;
	font-size: 55px;
	background: white;
}
span{
	margin: 0 15px;
	line-height: .7;
	text-shadow: 0 0 2px rgba(0, 0, 0, .45);
	animation: span 3s ease-in infinite alternate;
}
.main{
	display: flex;
	justify-content: center;
    align-items: flex-start;
    font-family: 'Quicksand', sans-serif;
	font-size: 42px;
}
.letter{
    font-family: 'Quicksand', sans-serif;
	font-size: 42px;
	display: inline-flex;
	height: 30px;
	width: 27px;
	/* border: 2.5px solid #FF1EAD; */
	border: 2.35px solid black;
	border-radius: 14px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, .75),
		inset 0 0 2px rgba(0, 0, 0, .45);

	animation: letter 3s ease-in-out infinite alternate;
}
@keyframes span {
	0%,30%{ margin: 0 15px; }
	70%,100%{ margin: 0 5px; }
}
 @keyframes letter {
	0%,30%{ width: 27px; }
	70%,100%{ width: 30vw; } 
}  


#addbut{
    background-color:black;
}

.table{
    opacity: .7;
    color:black;
    font-weight: bolder;
    border: 2px, thin, black;
}